{% extends "home/base.html" %}
{% load static %}

{% block body %}
<div class="row pagepad">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4 display">
    <img src="{% static 'jobs/images/Career.jpg' %}" alt="login" width="100%" >
  </div>
  <div class="col-sm-4">
    <form class="px-4 py-3" name="register" id="register"  action="{% url 'registered' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-row">
        <div class="form-group input-group mb-2 col-md-6">
          <label class="sr-only" for="inlineFormInputGroup">Username*</label>
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" name="username" class="form-control" id="inlineFormInputGroup" placeholder="Username*">
        </div>
        <div class="form-group col-md-6">
          <input type="password" name="password" class="form-control" placeholder="Password*">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input type="text" name="first_name" class="form-control" placeholder="e.g John">
        </div>
        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input type="text" name="last_name" class="form-control" placeholder="e.g Doe">
        </div>
      </div>
      <div class="form-group">
        <label>Email*</label>
        <input type="email" name="email" class="form-control" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label>Current Job Title</label>
        <input type="text" name="job_title" class="form-control" placeholder="e.g Developer">
      </div>
      <div class="form-group">
        <label>Current Company</label>
        <input type="text" name="company" class="form-control" placeholder="e.g Google">
      </div>
      <div class="form-group">
        <label>Years of Experience</label>
        <input type="number" name="years" class="form-control" placeholder="e.g 3">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" name="city" class="form-control" placeholder="e.g Toronto">
        </div>
        <div class="form-group col-md-6">
          <label>Province/State</label>
          <input type="text" name="province" class="form-control" placeholder="e.g Ontario">
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="exampleFormControlFile1">Upload Profile Photo</label>
        <input type="file" name="image" class="form-control-file">
      </div> -->
      <button type="submit" class="btn btn-mybtn">Sign me up!</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'login_page' %}">Already have an account? Log in</a>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}
