{% extends "home/base.html" %}
{% load static %}

{% block body %}
<div class="row searchbg shadow-sm p-5 bg-dark">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8 d-flex justify-content-center">
    <form action="{% url 'jobsearch' %}" method="POST">{% csrf_token %}
      <div class="form-row">
        <div class="col-sm-auto">
          <span>Find The Right Job</span>
        </div>
        <div class="col-sm-auto">
          <input type="text" class="form-control" name="query" placeholder="Job Title, Keyword, Career">
        </div>
        <div class="col-sm-auto">
          <input type="text" class="form-control" name="city" placeholder="City">
        </div>
        <div class="col-sm-auto">
          <select class="form-control" name="country">
            <option value="ca">Canada</option>
          </select>
        </div>
        <div class="col-sm-auto">
          <button type="submit" class="btn btn-mybtn mb-2">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-3 p-5 channelsection shadow">
    <span class="center bigtext">Saved Jobs</span>
  </div>
  <div class="col-6 jobbg shadow p-3">
    <ul class="jobs rounded" id="jobs">
      {% for job in jobs %}
          <li><span class="p-comp"><b>{{ job.company }}</b></span><br>
              <span class="p-left"><b>{{ job.title }}</b> </span><br>
              <span class="p-right">{{ job.location }}<br><br>
              <a href="" data-page="{{ job.ext_id }}" class="hide btn btn-mybtn smallbtn deletejob" role="button" aria-pressed="true">Delete</a>&nbsp;&nbsp;<a href="{{ job.apply }}"  target="_blank" class="btn btn-mybtn smallbtn" role="button" aria-pressed="true">Apply to Job</a>
              </span>
          </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-3 p-5 shadow">

  </div>
</div>


{% endblock %}
